body {
    background-color: rgb(131, 247, 127);
    text-align: center;
}
h1 {
    font-size: 48px;
    padding: 10px;
}

h3{
    padding: 5px;
}

.croissant-img-main {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
  }
  
.main-page-link {
    padding-left: 15px;
}
.photo-page-link {
    padding-left: 15px;
}

.main-page-link:hover {
    color: red;
}

.photo-page-link:hover {
    color: red;
}